.button-buy {
  width: 209px;
  height: 58px;
  color: var(--background-color-light);
  background-color: var(--button-background-primary);
  border: 1px solid var(--button-background-primary);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  cursor: pointer;
}
