.last-chance {
  padding-bottom: 66px;
  position: relative;
}

.last-chance .last-chance__slider-pagination {
  text-align: end;
  top: auto;
  bottom: 9px;
  right: 0;
  width: auto;
  height: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
}

.last-chance .swiper-scrollbar {
  bottom: 21px;
  left: 0;
  width: calc(100% - 64px);
  height: 2px;
  display: block;
}

.last-chance__for-image {
  display: flex;
  justify-content: end;
  width: auto;
  height: 255px;
  background-color: var(--body-background-light);
}

.last-chance::before {
  position: absolute;
  right: 545px;
  content: "";
  width: 1025px;
  height: 545px;
  z-index: -1;
  background: var(--body-background-secondary);
}

.last-chance__header::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 4px;
  background-color: var(--button-background-dark);
}

.last-chance__slider {
  padding-top: 25px;
}

.last-chance__item {
  border-top: 5px solid var(--body-background-light);
}

.last-chance__item:hover {
  border-top: 5px solid var(--button-background-primary);
}

.last-chance__item-name {
  padding: 31px 20px 0;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--body-background-light);
}

.last-chance__price {
  display: flex;
  align-items: baseline;
  gap: 11px;
  padding: 0 20px;
  background-color: var(--body-background-light);
}

.last-chance__new-price {
  color: #303032;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.last-chance__old-price {
  color: #979798;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: line-through;
}

.last-chance__item img {
  background-color: var(--body-background-light);
}

.last-chance__item:hover img {
  background-color: var(--body-background-light);
}

.last-chance__item button {
  width: 100%;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.last-chance__item:hover button {
  color: var(--body-background-light);
  background-color: var(--button-background-primary);
  border: 1px solid var(--button-background-primary);
}

.last-chance__item button:hover {
  opacity: 0.8;
}

.last-chance__tabs {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 25%;
}

.last-chance__tab-item {
  color: rgb(0 0 0 / 40%);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 153.885%; /* 24.622px */
  cursor: pointer;
}

.last-chance__tab-item:hover {
  color: var(--text-color-primary);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 153.88%; /* 24.622px */
}

.last-chance__tab {
  display: none;
}

.active {
  display: flex;
  color: var(--text-color-primary);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 153.88%;
}

@media (max-width: 767px) {
  .last-chance__item {
    width: 100%;
  }

  .last-chance__tabs {
    max-width: 100%;
  }
}

@media (orientation: landscape) {
  .last-chance__item {
    padding-bottom: 30px;
  }
}

@media (orientation: portrait) {
  .last-chance__item {
    padding-bottom: 0;
  }
}
