.new__products {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.new__products-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 3rem 3rem;
  grid-auto-flow: row;
}

.new__products-header {
  align-self: center;
}

.new__products-header::after {
  position: absolute;
  content: "";
  width: 9rem;
  height: 0.4rem;
  background-color: var(--text-color-primary);
}

.new__products-item-name,
.new__products-item-price {
  text-align: center;
}

.new__products-item-name {
  color: var(--text-color-primary);
  font-size: 2rem;
}

.new__products-item-price {
  color: var(--text-color-primary);
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.new__products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 28.9rem;
  width: 27rem;
  background-color: var(--body-background-light);
}

.new__products-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.new__products-item-colored {
  background-color: var(--body-background-secondary);
}

.new__products-item-big {
  height: 61.4rem;
  width: 57rem;
  background-color: var(--body-background-light);
  grid-row: 1 / 3;
  grid-column: 3 / 3;
}

@media (max-width: 1439px) {
  .new__products-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .new__products-header {
    width: 100%;
  }

  .new__products-item,
  .new__products-item-big {
    width: 31%;
    min-width: 2.8rem;
    height: 28.9rem;
  }

  .new__products-item-big img {
    width: 18rem;
  }
}

@media (max-width: 1023px) {
  .new__products-item,
  .new__products-item-big {
    width: 47%;
  }
}

@media (max-width: 767px) {
  .new__products-item,
  .new__products-item-big {
    width: 100%;
  }

  .new__products {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
