.reviews {
  --swiper-pagination-color: #b3b3b3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.reviews__slider {
  width: 860px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 780px;
}

.reviews img {
  border-radius: 100%;
  margin-bottom: 25px;
}

.reviews__user-name {
  color: var(--text-color-secondary);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 154.36%; /* 27.784px */
}

.reviews__user-activity {
  color: var(--text-color-secondary);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.36%;
  margin-bottom: 20px;
}

.reviews__user-review {
  padding: 0 50px;
  color: var(--text-color-secondary);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 154.36%; /* 24.697px */
}

.reviews__slider-pagination {
  position: relative;
  padding-top: 25px;
}

.reviews .swiper-pagination-bullet {
  border: 1px solid var(--swiper-pagination-color);
  background-color: transparent;
}

.reviews .swiper-pagination-bullet-active {
  border: 1px solid var(--swiper-pagination-color);
  background-color: var(--swiper-pagination-color);
}

.reviews .swiper-button-prev::after {
  content: url("../../img/arrow-left.svg");
}

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  top: 130px;
  width: calc(var(--swiper-navigation-size) / 22 * 26);
}

.reviews .swiper-button-next::after {
  content: url("../../img/arrow-right.svg");
}

@media (max-width: 767px) {
  .reviews {
    display: none;
  }
}
